html {
    height: 100%;
    font-family: Ubuntu, sans-serif;
}

body {
    margin-top: 0;
    height: 100%;
    overflow: hidden;
    text-align: center;
    color: #FFDAB9;
    background:  #8B4726; 
    background-size: cover;
}

#lyric {
   position: relative; 
   text-align: left;
   left: 40px;
   line-height: 10px;
}

#content {
    position: absolute;
    height: 100%;
    left: 25%;
    width: 50%;
    background-color: #24150E;
}

#mainArticle { 
    font-size: 45px;
}

#meeting {
    padding: 30px;
    font-size: 25px;
}

#about {
    font-size: 18px;
    padding-left: 15%;
    padding-right: 15%;
}

.footer {
    margin-top: 100px;
    position: relative; 
    bottom: 0px;
}

a:link {
    color: rgb(6, 154, 255);
    text-decoration: none;

}

a:visited {
    color: rgb(103, 97, 147);
}

a:hover {
    text-decoration: underline;
}



